#copy of /usr/share/doc/inspircd/services/generic.conf.example

<module name="alias">

# aliases for services pseudoclients.
{% for service in ircd_anope_services %}
{% for alias in service.aliases %}
<alias text="{{ alias }}"  replace="SQUERY $requirement :$2-" requires="{{ service.name }}" uline="yes"{% if service.name == "OperServ" %} operonly="yes"{% endif %}>
{% endfor %}
{% endfor %}

# /ID [account] <password>
# Identifies to a services account.
{% for alias in ircd_anope_identify_aliases %}
<alias text="{{ alias }}" format="*" replace="SQUERY $requirement :IDENTIFY $2-" requires="NickServ" uline="yes">
{% endfor %}

# Prevent clients from using the nicknames of services pseudoclients.
{% for service in ircd_anope_services_reserved %}
<badnick nick="{{ service }}"  reason="Reserved for a network service">
{% endfor %}

# Exempt services pseudoclients from filters.
{% for service in ircd_anope_services %}
<exemptfromfilter target="{{ service.name }}">
{% endfor %}


#copy of /usr/share/doc/inspircd/services/anope.conf.example

# /GLOBAL <message>
# Sends a global notice.
<alias text="GLOBAL" format="*" replace="SQUERY $requirement :GLOBAL $2-" requires="Global" uline="yes" operonly="yes">
